<div class="well">

  <%@list.each do |l|%>
    <%Wiproid.where(groupid: Group.find(l.groupid)).each do |w|%>
      <%availwp[w.id] = w.wiproid%>
    <%end%>
    </br>
  <%end%>
  <%= form_for(@user) do |f| %>
    <%#= render 'shared/hexes_error_messages' %>
    <%if logged_in? %>
    <%= f.label "Which Wi-Pro do you want to checkout?"%></br>
    <%= f.collection_select(:checkoutid, Availwp.all, :id, :wiproid)%>
    <a href="/wiproids">Add Device!</a>
    <%end%>
    </br>
    </br>
    <%= f.submit "Checkout!", class: "btn btn-primary" %>
  <% end %>

  </br>
  </br>
  <h2>Welcome to the Checkout Page!</h2>
  <p>This is the section that you will checkout a device on.</p>
</div>
