<div class="well">
  <h2>Add Group</h2>
  <%= form_for @group do |f| %>
    <%= f.label "What is the group name?"%></br>
    <%=f.text_field :name%>
    </br>
    </br>
    <%= f.submit "Add Group!", class: "btn btn-primary" %>
  <% end %>
  </br>
  </br>
  <p>This is the section that you will create a new group.</p>
</div>
