<% if !Administrator.uniq.pluck(:userid).include?(current_user.id) %>
  <script language="javascript"><!--
  location.replace("/help")
  //-->
  </script>
<%end%>
<h1><%= @user.name %></h1>
<h3>Email: <%= @user.email %></h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Group Memberships</th>
    </tr>
  </thead>
  <tbody>
    <% @member.each do |m| %>
      <tr>
        <td><%= Group.find(m.groupid).name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
