<% if !Administrator.uniq.pluck(:userid).include?(current_user.id) %>
  <script language="javascript"><!--
  location.replace("/help")
  //-->
  </script>
<%end%>
<h1 align="center">Wi-Pro Device Names</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Wi-Pro ID</th>
      <th>User ID</th>
    </tr>
  </thead>
  <tbody>
    <% @wiproids.each do |wiproid| %>
      <tr>
        <td><%= wiproid.name %></td>
        <td><%= wiproid.wiproid %></td>
        <td><%= wiproid.userid %></td>
      </tr>
    <% end %>
  </tbody>
</table>
