<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Download Link</th>
      <th>Wi-Pro ID</th>
      <th>Device ID</th>
    </tr>
  </thead>
  <tbody>
    <% @wiproids.each do |wiproid| %>
      <tr>
        <td><%= wiproid.name %></td>
        <td><%= wiproid.wiproid %></td>
        <td><%= wiproid.userid %></td>
      </tr>
    <% end %>
  </tbody>
</table>
